{erl_opts, []}.
{deps, []}.
{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [
  { rebar3_diameter_compiler,
    {git, "https://github.com/carlosedp/rebar3_diameter_compiler.git",
      {branch, "master"}
    }
  }
]}.

{provider_hooks, [
                  {pre, [
                         {compile, {diameter, compile}},
                         {clean, {diameter, clean}}
                        ]}
                 ]}.

%% == Diameter compiler ==
{dia_first_files, []}.
{dia_opts, []}.
